.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 5px 10px;
    border-radius: 3px;
    color: white;
    background-color: blueviolet;
    border: 2px solid black;
    cursor: pointer;
}